#忽略日志文件和emacs自动保存文件
*~
*.elc
*.rcp
url/
ac-dict/
desktops/
auto-save-list/
LanguageTool-2.6/
elpa/
el-get/
irony/
ycmd/
eshell/
vimish-fold/
ido.last
recentf
tramp
#*
eclipse_java_lsp_server/
ede-projects.el
games/
projectile-bookmarks.eld
projectile.cache
